[Socket]

# For external access use 
# ListenStream=0.0.0.0:8080
# instead.

ListenStream=127.0.0.1:8080
FileDescriptorName=web
[Install]
WantedBy=sockets.target
